<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>สำหรับนักศึกษา</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="lib/socket.io-client/socket.io.js"></script>
	<script src="js/angular-socket-io/socket.js"></script>
	<link rel="stylesheet" type="text/css" href="css/stylish.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- calendar -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body ng-controller="studentCtrl">
	<div class="panel panel-primary">
  		<div class="panel-heading"><font face = "JasmineUPC" size = "+8">ระบบตรวจสอบเวลาเรียนของนักศึกษา</font></div>
  		<div class="panel-body">
  			<label><a href = "index.html">Home</a>>Student</label><br>
  			<font face = "JasmineUPC"size = "+3" color = "red">นักศึกษา</font>
			<table id = "t01" align = "center">
				<tr>
					<td width="5">รหัสนักศึกษา</td>
					<td>
						<input type="text" ng-model="stdId" class="form-control" placeholder="Search">
					</td>
				</tr>
				<tr>
					<td width="5">ชื่อนักศึกษา</td>
					<td>
						<input type="text" ng-model="fname" class="form-control" placeholder="Search">
					</td>
				</tr>
				<tr>
					<td width="5">นามสกุลนักศึกษา</td>
					<td>
						<input type="text" ng-model="lname" class="form-control" placeholder="Search">
					</td>
				</tr>
				<tr>
					<td width="5">วันที่</td>
					<td>
						<input id="datepicker" ng-model="date" type="text" class="form-control" placeholder="Search">
					</td>
				</tr>
				<tr height ="35">
					<td width="5">เวลา</td>
					<td>
						<!-- start dropdown -->
						<select class="selectpicker">
							<option>--เลือก--</option>
						    <option>08:00</option>
						    <option>09:00</option>
						    <option>10:00</option>
						    <option>11:00</option>
						    <option>12:00</option>
						    <option>13:00</option>
						    <option>14:00</option>
						    <option>15:00</option>
						    <option>16:00</option>
						    <option>17:00</option>
						</select>
						
						<!-- end dropdown -->
						&nbsp;ถึง &nbsp;	
						<!-- start dropdown 2 -->
						 
						 <select class="selectpicker">
						 	<option>--เลือก--</option>
						    <option>08:50</option>
						    <option>09:50</option>
						    <option>10:50</option>
						    <option>11:50</option>
						    <option>12:50</option>
						    <option>13:50</option>
						    <option>14:50</option>
						    <option>15:50</option>
						    <option>16:50</option>
						    <option>17:50</option>
						 </select>
						<!-- end dropdown 2-->
					</td>	
				</tr>
				<tr>
					<td colspan="2" align="center">
						<br><button id ="show" ng-click="getStudent()" class="btn btn-primary btn-sm" >Search</button>
					</td>
				</tr>
				
			</table>
   			<div id="t02" style="display:none">
				<table id = "t01" style="width:100%" >
				  <tr ng-repeat="student in studentInstance">
				    <td>{{student.StdID}}</td>
				    <td>{{student.FName}}</td>
				    <td>{{student.LName}}</td>
				  </tr>
				</table>
			</div>	
		</div>
	</div>
		<div id="footer">
      		<div class="container">
        		<p class="text-muted" align="center">© DUMBO-TEAM Project</p>
      		</div>
      	</div>
		<script>
		  $(function() {
		    $( "#datepicker" ).datepicker();
		  });
	  	</script>
		<script>
			$(document).ready(function(){
			  $("#show").click(function(){
			    $("#t02").fadeIn();
			    $("#t02").fadeIn("slow");
			    $("#t02").fadeIn(3000);
			  });
			});
		</script>
</body>
</html>