<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>สำหรับอาจารย์</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<!-- <script src="lib/socket.io-client/socket.io.js"></script>
	<script src="js/angular-socket-io/socket.js"></script>-->
	<!--<link rel="stylesheet" type="text/css" href="css/stylish.css">-->
</head>
<body ng-controller="teacherCtrl" ng-init="init()">
	<div class="panel panel-primary">
  		<div class="panel-heading"><font face = "JasmineUPC" size = "+8">ระบบตรวจสอบเวลาเรียนของนักศึกษา</font></div>
  		<div class="panel-body">
  			<label><a href = "index.html">Home</a>>Teacher</label><br>
  			<font face = "JasmineUPC"size = "+3" color = "red">อาจารย์</font>	
		</div>
		<div>
			<button type="button" class="btn btn-primary" ng-click="getSubject()">Room R200</button>
			<button type="button" class="btn btn-primary">Room R201</button>
			<button type="button" class="btn btn-primary">Room R301-2</button>
			<div class="table-responsive" border = "10px">
				<table class="table table-bordered">
					<thead>
						<tr class="info">
							<th>Days</th>
							<th>08:00 - 08:50</th>
							<th>09:00 - 09:50</th>
							<th>10:00 - 10:50</th>
							<th>11:00 - 11:50</th>
							<th>12:00 - 12:50</th>
							<th>13:00 - 13:50</th>
							<th>14:00 - 14:50</th>
							<th>15:00 - 15:50</th>
							<th>16:00 - 16:50</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-init ="roomDay1=Monday">
							<td>Monday</td>
							<td ng-repeat="field in data"><a><!-- {{field.sid}} --></a></td>
							
							<!-- <td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td> -->
						</tr>
						<tr>
							<td>Tuesday</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Wednesday</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Thursday</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Friday</td>
							<td ng-repeat="field in datas[4]"><a href="showdata.html" ng-click="searchdata" >{{field.sid}}</a></td>
							
							<!-- <td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div>
			<table class="table table-bordered">
				<tr>
					<td>Name</td>
					<td>Sid</td>
					<td>Day</td>
					<td>Room</td>
					<td>Sec</td>
					<td>StrTime</td>
					<td>EndTime</td>
				</tr>
				<tr ng-repeat="field in subjects">
					<td>{{field.SName}}</td>
					<td>{{field.sid}}</td>
					<td>{{field.day}}</td>
					<td>{{field.room}}</td>
					<td>{{field.sec}}</td>
					<td>{{field.strTime}}</td>
					<td>{{field.endTime}}</td>
				</tr>
			</table>
		</div>
	</div>
		<div id="footer">
      		<div class="container">
        		<p class="text-muted" align="center">© DUMBO-TEAM Project</p>
      		</div>
      	</div>
</body>
</html>